@model IEnumerable<SpectroWebApplication.Models.Post>
@{
    ViewBag.Title = "Latest Posts";
}
<div class="post-list">
    @foreach (var post in Model)
    {
        <div class="post-list__item">
            <h4 class="post-list__item__title">@post.Title</h4>
            <time class="post-list__item__date">Posted @post.CreatedAt.ToShortDateString()</time>
            <div class="post-list__item__author">by <span class="glyphicon glyphicon-user"></span> <a href="mailto:@post.Account.Email">@post.Account.Name</a></div>
            <div class="post-list__item__link">
                <a href="@Url.Action("Show", "Post", new { id = post.ID })" class="btn btn-default btn-large">
                    <span class="glyphicon glyphicon-share-alt"></span> Continue reading
                </a>
                @if (Session["Account"] != null && (Session["Account"] as SpectroWebApplication.Models.Account).ID == post.Account.ID)
                {
                    <a href="@Url.Action("Edit", "Post", new { id = post.ID })" class="btn btn-default btn-large">
                        <span class="glyphicon glyphicon-pencil"></span>
                        Edit
                    </a>
                }
            </div>
        </div>
        <hr />
    }
</div>